/* HeroSection.module.css */

.heroContainer{
  display: flex;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 60px;
  width: 80vw;
  margin: 0 auto;
}

.textContainer {
  flex: 1; /* Take up available space */
  padding-right: 40px; /* Space between text and image */
}

.heroTitle {
  font-size: 3rem; /* Adjust as needed */
  font-weight: bold;
  margin-bottom: 20px;
  color: #2260CE; /* Blue title */
  line-height: 1.2;
}

.heroText {
  font-size: 1.2rem; /* Adjust as needed */
  line-height: 1.6;
  color: #333; /* Dark text */
}

.imageContainer {
  flex: 1; /* Take up available space */
  display: flex;
  justify-content: center; /* Center image horizontally */
}

.heroImage {
  max-width: 100%; /* Image scales to container width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Optional: Rounded corners */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .heroContainer {
    flex-direction: column; /* Stack items vertically */
    align-items: baseline;
  }

  .textContainer {
    padding-right: 0;
    margin-bottom: 20px; /* Space between text and image */
  }

  .imageContainer {
    margin-top: 50px;
    /* width: 70vw; */
    order: -1; /* Place image above text on smaller screens */
  }
}