/* Header.module.css */

.header {
  padding: 15px 0;
  width: 100vw;
}

.logoContainer {
  margin-left: 10vw;
}

.logoLink {
  transition: opacity 300ms ease;
}

.logoLink:hover {
  opacity: 0.6;
}

.logo {
  height: 75px;
  width: 85px;
  margin-right: 20px;
}
