/* Landing.module.css */

.landingContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 60px;
  width: 80vw;
  margin: 0 auto;
}

.textContainer {
  flex: 1; /* Take up available space */
  padding-right: 40px; /* Space between text and image */
}

.landingTitle {
  font-size: 2.9rem; /* Adjust as needed */
  font-weight: bold;
  margin-bottom: 20px;
  color: #2260CE; /* Blue title */
  line-height: 1.1;
}

.landingText {
  font-size: 1.2rem; /* Adjust as needed */
  line-height: 1.6;
  color: #333; /* Dark text */
}

.emailInput {
  display: flex;
  align-items: center;
  border: 2px solid #ddd;
  border-radius: 30px;
  padding: 3px;
  background-color: #e8f0fe; /* Light blue background */
}

.inputField {
  flex: 1;
  border: none;
  padding: 10px 15px;
  font-size: 1em;
  line-height: 1em;
  border-radius: 30px;
  background-color: transparent;
  outline: none;
}

.submitButton {
  background-color: #2260CE; /* Blue button */
  color: white;
  border: none;
  line-height: 1.2em;
  font-size: 1em;
  border-radius: 30px;
  cursor: pointer;
  margin-left: 5px;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #222; /* Darker blue on hover */
}

.imageContainer {
  flex: 1; /* Take up available space */
  display: flex;
  justify-content: flex-end;
}

.heroImage {
  width: 100%; /* Image scales to container width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Optional: Rounded corners */
}


@media (max-width: 900px) {
  .landingTitle {
    font-size: 2.5rem; /* Adjust as needed */
  }
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .landingContainer {
    flex-direction: column; /* Stack items vertically */
    align-items: baseline;
  }

  .textContainer {
    padding-right: 0;
    margin-bottom: 20px; /* Space between text and image */
  }

  .imageContainer {
    display: none;
    margin-top: 50px;
    /* width: 70vw; */
    order: -1; /* Place image above text on smaller screens */
  }

  .inputContainer {
    flex-direction: column;
    align-items: center;
  }

  .emailInput {
    width: 90%;
  }
}
