/* MenuPage.module.css */
.menuPage {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%; /* Adjust width as needed */
  height: 100%;
  background-color: white; /* Or your desired menu background */
  z-index: 1001;
}
