/* Header.module.css */

.expanded {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav {
  display: flex;
}

.navLink {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: color 300ms ease;
}

.navLink:hover {
  color: #C3D4F2;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loginButton,
.registerButton {
  margin: 0 5px;
  padding: 8px;
  border: none;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 300ms ease, color 200ms ease;
}

.loginButton {
  color: white;
  background: none;
}

.registerButton {
  background-color: white; /* White button */
  color: #2260CE; /* Blue text */
  padding: 0px 25px;
  border-radius: 100px;
  height: 40px;
}

.loginButton:hover {
  color: #C3D4F2;
}

.registerButton:hover {
  /* color: white; */
  background-color: #C3D4F2;
}
