.globeSection {
  /* background-color: #F4F7FD; */
  background: linear-gradient(#F4F7FD, white)
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  margin: 0 auto;
  margin-top: 50px;
  padding-top: 60px;
  padding-bottom: 20px;
  gap: 100px;
}

.leftSection {
  flex-grow:  1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.textContainer {
  display: flex;
  max-width: 500px;
}

.textBlock {
  margin: auto;
}

.rightSection {
  display: flex;
  position: relative; /* Or position: fixed */
  top: 0px;
}

.globeImg {
  max-width: 380px;
  margin: auto;
}

.space {
  margin-bottom: 500px;
}

.label {
  color: #2260CE;
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.text {
  margin-top: 0px;
  color: #222;
  font-weight: 500;
  font-size: 2.6em;
  line-height: 1.2em;
}

/* Media query for smaller screens */
@media (max-width: 1100px) {
  .label {
    font-size: 1.4em;
  }

  .text {
  font-size: 1.8em;
  }
}

/* Media query for smaller screens */
@media (max-width: 768px) {

  .globeSection {
    /* background-color: #F4F7FD; */
    background: linear-gradient(#F4F7FD)
  }

  .container {
    flex-direction: column;
    gap: 20px;
  }

  .rightSection {
    order: -1;
    position: relative;
  }

  .textContainer {
    display: flex;
    max-width: 100%;
  }
}