/* SocialIcons.css */
.socialIconsContainer {
  margin: 10px 0;
  display: flex; /* Using flexbox for better alignment */
  justify-content: center; /* Center the icons horizontally */
}

.socialIconLink {
  margin: 0 5px;
  transition: opacity 300ms ease;
}

.socialIconLink:hover {
  opacity: 0.8;
}

.socialIconImg {
  height: 36px;
  margin: 0 5px;
}